<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome, @{{ github.username }}!</title>
    <style>
      :root {
        --background: #e9e9f9;
        --text: #343439;
        --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
          'Segoe UI Symbol';
      }

      * {
        box-sizing: border-box;
      }

      html,
      body {
        background: var(--background);
        color: var(--text);
        font-family: var(--font-family);
        margin: 0;
      }

      main {
        width: 600px;
        margin: 5rem auto;
        border: 1px solid #dedede;
        background: white;
        padding: 2rem;
      }

      main h1 {
        font-size: 1.5rem;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>
